<html>
  <head>
    <title>Add a Message</title>
  </head>
  <body>
    <h1>Add a Message</h1>
    <a href="/">Home</a>
    <form method="POST" action="/new">
      <label for="user">User:</label>
      <input type="text" id="userText" name="userText" />

      <label for="message">Message:</label>
      <input type="text" id="messageText" name="messageText" />

      <button>Submit</button>
    </form>
  </body>
</html>
