<html>
  <head>
    <title>Add a Message</title>
  </head>
  <body>
    <h1>Add a Message</h1>
    <form method="POST" action="/new">
      <label for="user">User:</label>
      <input type="text" id="user" name="user" />

      <label for="message">Message:</label>
      <input type="text" id="message" name="message" />

      <button>Submit</button>
    </form>
  </body>
</html>
