<html>
  <head>
    <title>Message Page</title>
  </head>
  <body>
    <h1>USER: <%= message.user %></h1>
    <p>Message: <%= message.text %></p>
    <p>Date: <%= message.added %></p>
    <a href="/"><button>Back</button></a>
  </body>
</html>
